.corlegal, .btn:hover, .btn:focus
{
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
}

.fundolegal
{
  background-color: #ecf0f1;
  border-color: #ecf0f1;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #ecf0f1;
}

.fonte
{
    color: #ecf0f1 !important
    font-family: 'Open Sans', sans-serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Open Sans', sans-serif;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
     font-family: 'Open Sans', sans-serif;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    font-family: 'Open Sans', sans-serif;
}
