@{
    ViewBag.Title = "Sorteio";
}

<h2>Com fome?</h2>

<h3>@ViewBag.QtdRestaurantes</h3>

    <script>
        var qtdRestaurantes = db.Restaurantes.Count();
        alert(qtdRestaurantes);
    </script>