@{
    ViewBag.Title = "TurboRango!";
}

<div class="jumbotron">
    <h1>TurboRango</h1>
    <p class="lead">É turbo. É rango. É turbo rango.</p>
    <p><a href="/sorteios" class="btn btn-primary btn-lg">Sortear!</a></p>
    <p><h5>Clique aqui para sortear um restaurante próximo a você.</h5></p>
</div>