<div class="jumbotron">
    <h1>TurboRango</h1>
    <p class="lead">É turbo. É rango. É turbo rango.</p>
    <p><a href="/Restaurantes" class="btn btn-primary btn-lg">Veja os restaurantes</a></p>
</div>